

@model WebApplication27.Models.USER

<div>

    @using (Html.BeginForm("deleteUser", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.USER_ID)
        <div class="form-horizontal">
            <div class="form-group">

                <div class="col-md-10">
                    <p>Are you sure you want to delete @Html.DisplayFor(model => model.FULL_NAME) user</p>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
            </div>

        </div>
    }

</div>


