
@{
    ViewBag.Title = "GetID2";
}

@model WebApplication27.Models.REQUESTER

<div>

    <fieldset id="SubmitForm">
        <p>You cannot delete this requester since it has been recorded before to one or more case</p>
    </fieldset>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

</div>