
@model WebApplication27.Models.questionsModel

<div>

    @using (Html.BeginForm("deleteQuestion", "Questions", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.QUESTION_ID)
        <div class="form-horizontal">
            <form method="post">
                <div class="form-group">

                    <div class="col-md-10">
                        <h6>Are you sure you want to delete @Html.DisplayFor(model => model.QUESTION1) Question</h6>


                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                </div>

            </form></div>
            }


        </div>

