@model WebApplication27.Models.COMORBIDITY


<div>

    @using (Html.BeginForm("deleteComorbidity", "Comorbidities", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.COMORBIDITY_ID)

        <div class="form-horizontal">
            <div class="form-group">

                <div class="col-md-10">
                    <P>Are you sure you want to delete @Html.DisplayFor(model => model.COMORBIDITY_NAME) Comorbidity  </P>


                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
            </div>
</div>
    }



</div>
